/* Write your CSS here */
.not-found-section-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-image {
  width: 150px;
  margin: 0 0 20px 0;
}
.not-found-heading {
  font-size: 32px;
  font-family: 'Roboto';
  font-weight: 600;
  color: #000;
  line-height: 1.2px;
}
.description {
  text-align: center;
  font-family: 'Roboto';
  font-size: 20px;
  color: #000;
}
@media screen and (min-width: 768px) {
  .not-found-image {
    width: 350px;
  }
  .not-found-heading {
    font-size: 46px;
  }
}
